# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
#Packages/
Package.pins
Package.resolved
*.xcodeproj

# Backup files
*.swp
*~.nib

Documentation/REFERENCE_PROJECTS/

# Ignore large 3D people files
Documentation/BACKUP/3D_people/

# Environment variables
.envPackages/RealityKitContent/Package.realitycomposerpro/PluginData/*
